.container {
  display: table;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  //min-width: 300px;
}

.sign-in {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}
