.container {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}

.mat-form-field {
  width: 100%;
  //min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}
